/build/
/cmake-build-*
/.idea
/CMakeCache.txt
*.out
*.cmake
*.user
*.cbp
/Makefile
/Testing
/CMakeFiles
/src/CMakeFiles
/src/tests/*.cmake
/src/tests/*.CmakeCache.txt
/src/tests/*.out
/src/tests/CMakeFiles
